# Auto detect text files and perform LF normalization
* text=auto

# Custom for Visual Studio
*.cs diff=csharp

# here c and py
*.c diff=astextplain
*.cpp diff=astextplain
*.h diff=astextplain
*.hpp diff=astextplain
*.s diff=astextplain
*.S diff=astextplain
*.asm diff=astextplain
*.i diff=astextplain
*.o diff=astextplain
*.a diff=astextplain
*.lib diff=astextplain
*.so diff=astextplain
*.dll diff=astextplain


*.py diff=astextplain
*.sh diff=astextplain
*.bat diff=astextplain

# Standard to msysgit
*.doc	 diff=astextplain
*.docx diff=astextplain
*.dot  diff=astextplain
*.pdf  diff=astextplain
*.rtf	 diff=astextplain
*.txt	 diff=astextplain
*.csv diff=astextplain
*.md diff=astextplain

*.conf diff=astextplain
*.texi diff=astextplain
*.am diff=astextplain
